inst/doc
.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
depmap.Rproj
CCLE_depMap_19Q1_TPM.zip
CCLE_RPPA_20180123.zip
D2_combined_gene_dep_scores.zip
depmap_19Q1_mutation_calls.zip
DepMap-2019q1-celllines.zip
gene_effect_corrected.zip
public_19Q1_gene_cn.zip
copyNumber_19Q1.rda
crispr_19Q1.rda
metadata_19Q1.rda
mutationCalls_19Q1.rda
rnai_19Q1.rda
RPPA_19Q1.rda
TPM_19Q1.rda
copyNumber_19Q2.rda
crispr_19Q2.rda
metadata_19Q2.rda
mutationCalls_19Q2.rda
rnai_19Q2.rda
RPPA_19Q2.rda
TPM_19Q2.rda
eh_data
